@model IEnumerable<WebObjectsBLL.DTO.BankAccountTransactionDTO>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>From/To</th>
            <th>Payment System</th>
            <th>Amount</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.TransactionDate.ToShortDateString()</td>
                <td>@transaction.TransactionType</td>
                <td>@transaction.FromClientName</td>
                <td>@transaction.PaymentSystem</td>
                <td>@transaction.Amount.ToString("C")</td>
                <td>@transaction.Notes</td>
            </tr>
        }
    </tbody>
</table>

